/* 
    [1] : Materialize icon error solution;
 */

 /* [1] */
@font-face {
    font-family: 'Material Icons'; 
    src: url(../fonts/Material-Design-Icons.woff2) format('woff2');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal; 
    -webkit-font-feature-settings: 'liga'; 
}

*,*:after, *:before{
    box-sizing: border-box;
}

html,body{
    height: 100%;
    background-color: transparent;
    overflow: auto;
}
html{
    background-image: url(../img/textura_ln1.png);
    background-attachment: fixed;
}
body{
    font-size: 16px;
    background-image: url(../img/github.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 15%;
}
.main{
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 50em;
}
.main-search{
    max-width: inherit;
    display: inline-block;
    /*position: fixed;*/
}
.main-container{
    max-width: 50em;
    width: 100%;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px #CCC;
    position: absolute;
    left:0;
    min-height: 100%;
    padding: 4.5em 1em 1em 1em;
}
.status-fail{
    text-align: center;
    font-size: 1.2em;
}
.status-fail > h1{
    font-size: 5em;
    font-weight: bold;
}

.result-container,
.status-request,
.status-fail{
    display: none;
}
.main-text-1,
.lbl-column-1{
    font-weight: bold;
}
.lbl-column-2{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content-tab{
    border: 1px solid #efefef;
    background-color: rgba(228, 228, 228, 0.06);
}
.content-tab > .row:first-child{
    padding-top: 1em;
}
.content-tab > .row:last-child{
    padding-bottom: 1em;
}
.stargazers-count{
    vertical-align: super;
    padding-left: 0.2em;
}
.github-repo{
    background: url(../img/github_sprite.png) 9px 10px no-repeat;
    background-size: 23px 57px;
}
.github-fork{
    background: url(../img/github_sprite.png) 8px -28px no-repeat;
    background-size: 25px 57px;
}
.repo-title{
    display: flex;
    justify-content: space-between;
}
.repo-title--label{
    max-width: 640px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.repo-title--star-count{
    text-align: right;
    white-space: nowrap;
}
.repo-lang{
    font-style: italic;
    font-weight: bold;
}
.no-repos{
    text-align: center;
    padding: 1em 0;
    font-size: 1.1em;
}
.col{
    /*border: 1px dotted #CCC;*/
}


@media screen and ( max-width: 640px ){
    body{
        background-size: 25%;
    }
}