/* 
    [1] : Materialize icon error solution;
 */

 /* [1] */
@font-face {
    font-family: 'Material Icons'; 
    src: url(../fonts/Material-Design-Icons.woff2) format('woff2');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal; 
    -webkit-font-feature-settings: 'liga'; 
}

*,*:after, *:before{
    box-sizing: border-box;
}

html,body{
    height: 100%;
    background-color: transparent;
    overflow: auto;
}
html{
    background-image: url(../img/textura_ln1.png);
    background-attachment: fixed;
}
body{
    font-size: 16px;
    background-image: url(../img/github.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 15%;
}
.main{
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 50em;
}
.main-search{
    max-width: inherit;
    display: inline-block;
    position: fixed;
}
.main-container{
    max-width: 50em;
    width: 100%;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px #CCC;
    position: absolute;
    min-height: 100%;
    padding: 4.5em 1em 1em 1em;
}
.status-request{
    display: none;
}


@media screen and ( max-width: 640px ){
    body{
        background-size: 25%;
    }
}